.ant-carousel .slick-slide {
  text-align: center;
  height: 100%;
  line-height: 100%;
  width: 60%;
  background: white;
  overflow: hidden;
}


.ant-carousel .slick-slide h3 {
  color: #fff;
}


.ant-upload-select-picture-card i {
  font-size: 32px;
  color: #999;
}

.ant-upload-select-picture-card .ant-upload-text {
  margin-top: 8px;
  color: #666;
}
