.navbar {
	border-bottom: 1px solid #afaeae42;
}

.plus {
	margin-left: 15px;
}

.minus {
	margin-right: 15px;
}

.ant-calendar-time-picker-btn {
	display: none !important;
}

.ant-calendar-ok-btn {
	color: white !important;
}

.ant-calendar-ok-btn-disabled {
	color: black !important;
}

.ant-menu-item {
	border-bottom: none !important;
}

.menu-left {
	margin-left: 30px;
}

.price-range {
	width: 400px;
}

.filter_range_picker_dropdown .ant-calendar-range {
	margin-top: 48px !important;
}

.filter_range_picker_dropdown .ant-calendar-input-wrap{
	display: none !important;
}
.filter_range_picker_dropdown .ant-calendar-range-middle {
	display: none !important;
}

.not-active {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
}

.filer-rangePicker .ant-calendar-picker-input {
  border: none !important;
}

.search-bar {
	width: 450px !important;
	margin-left: 10px;
}

@media only screen and (max-width: 991px) {
	.search-bar {
		margin-left: 0px;
	}
}

@media only screen and (max-width: 600px) {
	.search-bar  {
		width: 100% !important;
		margin-top: 10px;
	}
}

